.section-pricing-table {
  background-color: map-get($colors, bg-black);
  .pricing-table {
    position: relative;
    @include pxRem(padding, 100 0);
    .section-title {
      color: map-get($colors, white);
    }
    &-item {
      background-color: map-get($colors, white);
      @include pxRem(padding, 70 0);
      height: 100%;
      box-shadow: 0px 25px 50px 5px map-get($colors, white) / 10%;
      &-content {
        position: relative;
        .popular {
          position: absolute;
          @include pxRem(top, -40);
          right: 10%;
          display: block;
          //   color: map-get($colors, primary );
          background: linear-gradient(50deg, #ed2775 7%, #ff7448 90%);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
      }
      .item-title-box {
        p {
          @include pxRem(padding-top, 12);
        }
      }
      .item-price {
        @include pxRem(font-size, 48);
        @include pxRem(padding, 30 0 40 0);
        font-weight: map-get($font-weight, bold);
        span {
          @include pxRem(font-size, 18);
          font-weight: map-get($font-weight, normal);
          color: map-get($colors, txt-gray);
        }
      }
      .item-features {
        &-list {
          @include pxRem(padding-top, 40);
        }
        &-item {
          position: relative;
          padding-left: 30px;
          &-icon {
            position: absolute;
            @include pxRem(font-size, 24);
            top: -6px;
            left: 0px;
          }
        }
      }
    }
    .link-btn-box {
      @include pxRem(margin-top, 70);
      @include pxRem(font-size, 18);
      text-align: center;
      .link-btn {
        display: inline-block;
        position: relative;
        color: map-get($colors, white);
        &::after {
          content: "";
          position: absolute;
          border-bottom: 1px solid map-get($colors, white);
          bottom: 0;
          left: 0;
          right: 0;
          transition: all 500ms;
        }
        &:hover::after {
          right: 100%;
        }
      }
    }
    .shape-6 {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 30;
      animation: shape-6 infinite 1s linear alternate;
    }
    .shape-7 {
      position: absolute;
      left: 80%;
      top: 15%;
      z-index: 30;
      animation: shape-1-spin infinite 20s linear;
    }
  }
}
