$height: #{f-pxRem(800)};
.section-banner-wrapper {
  border-bottom: #{f-pxRem(1)} solid #eeeeee;
  position: relative;
  height: $height;
  &-left {
    height: $height;
    position: relative;
    &-content {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      .sub-title {
        border-left: #{f-pxRem(2)} solid map-get($colors, primary);
        @include pxRem(font-size, 18);
        color: map-get($colors, primary);
      }
      .banner-title {
        @include pxRem(font-size, 45);
        @include pxRem(line-height, 70);
        font-weight: map-get($font-weight, bold);
      }
    }
  }
  &-right {
    height: $height;
    position: relative;
    &-image-1 {
      position: absolute;
      bottom: 0;
      z-index: 20;
      right: 0;
    }
    &-image-2 {
      position: absolute;
      bottom: 0;
      z-index: 10;
      right: 0;
      &-active {
        left: 0;
      }
    }
  }
  .shape-1 {
    position: absolute;
    left: 44%;
    top: 23%;
    z-index: 30;
    animation: shape-1-spin infinite 15s linear;
  }
  .shape-2 {
    position: absolute;
    bottom: 0;
    animation: shape-2 3s linear 2s infinite alternate;
  }
}


@include respond-below(wide) {
  .section-banner-wrapper {
    @include pxRem(margin, 200 0);
    &-left {
      height: auto;
      width: 80%;
      margin: 0 auto;
      &-content {
        text-align: center;
        .sub-title, p {
          @include pxRem(font-size, 15);
        }
        .banner-title {
          @include pxRem(font-size, 32);
        @include pxRem(line-height, 20);
        }
        p {
          @include pxRem(margin, 0 100);
        }
      }
    }
    &-right {
      @include pxRem(margin-top, 50);
      &-image-1 {
        position: absolute;
        z-index: 20;
        bottom: 0;
        right: 150px;
      }
      &-image-2 {
        position: absolute;
        bottom: 0;
        z-index: 10;
        left: 150px;
        &-active {
          left: 150px;
        }
      }
    }
    .shape-1 { 
      display: none;
    }
    .shape-2 {
      display: none;
    }
  }
}
