.position-parent {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.pos-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.pos-center-y {
    top: 50%;
    transform: translateY(-50%);
}
.pos-left-5 {
    @include pxRem(left, 5);
}
