<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalle's home layout</title>
</head>

<body>
    <header class="page-header">
        <div class="header-top">
            <a href="#" class="header-sale-off">
                <p>Today deal sale off
                    <span class="bold-text">70%</span>.End in
                    <span class="bold-text time-end-sale">126 days 13:18:00</span>.Hurry up
                    <i>-></i>
                </p>
                <a href="#" class="header-action">
                    <i></i>
                    close
                </a>
            </a>
        </div>
        <div class="header-bottom">
            <a href="#" class="logo-page-black">
                <img src="https://themes.the4.co/kalles-html/assets/images/svg/kalles.svg" alt="logo Kalle's black">
            </a>
            <nav class="header-nav">
                <ul class="header-menu">
                    <li><a href="#">DEMO</a></li>
                    <li><a href="#">SHOP</a></li>
                    <li><a href="#">PRODUCT</a></li>
                    <li><a href="#">SALE</a></li>
                    <li><a href="#">PORTFOLIO</a></li>
                    <li><a href="#">LOOKBOOK</a></li>
                    <li><a href="#">BLOG</a></li>
                </ul>
            </nav>
            <ul class="header-social">
                <li>
                    <a href=""><i></i></a>
                </li>
                <li>
                    <a href=""><i></i></a>
                </li>
                <li>
                    <a href=""><i></i></a>
                </li>
                <li>
                    <a href=""><i></i></a>
                </li>
            </ul>
        </div>
    </header>

    <main class="page-main">
        <section class="section-carousels">
            <ul class="crousel-list">
                <li class="carousel-item">
                    <img class="img-full-width" src="./img/carousel-1.jpg" alt="carousel-1">
                    <div class="carousel-content">
                        <h4 class="section-sub-title">PUSH HADER/RUN FASTER & GO FURTHER</h4>
                        <h2 class="section-title">TRAINING'S CLOTHING <br> LOOKBOOK</h2>
                        <a href="#" class="btn-primary btn-yellow">SHOP NOW</a>
                        <a href="#" class="btn-primary btn-none-color">VIEW THE LOOK</a>
                    </div>
                </li>
                <li class="carousel-item">
                    <img class="img-full-width" src="./img/carousel-2.jpg" alt="carousel-2">
                    <div class="container">
                        <div class="carousel-content">
                            <h4 class="section-sub-title">TRANSFORM YOUR LIFE TODAY</h4>
                            <h3 class="section-title">LOSE FAT, GET FIT <br> HAVE FUN!</h3>
                            <a href="#" class="btn-primary btn-yellow">Explore now</a>
                        </div>
                </li>
                <li class="carousel-item">
                    <img class="img-full-width" src="./img/carousel-3.jpg" alt="carousel-3">
                    <div class="container">
                        <div class="carousel-content">
                            <h4 class="section-sub-title">NEWARRIVALS</h4>
                            <h2 class="section-title">MEN'S CLOTHING <br> ACCESSORIES</h2>
                            <a href="#" class="btn-primary btn-yellow">SHOP NOW</a>
                            <a href="#" class="btn-primary btn-none-color>Explore Now"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>

        <section class="section-clothe-types">
            <div class="container">
                <ul class="3-col-list">
                    <li class="3-col-iterm">
                        <a href="" class="img-3-col img-zoom">
                            <img src="./img/accessories-for-man.jpg" alt="accessories-for-man">
                        </a>
                        <h4 class="section-sub-title">ACCESSORIES</h4>
                        <h3 class="block-title">FOR MEN</h3>
                    </li>
                    <li class="3-col-iterm">
                        <a href="" class="img-3-col img-zoom">
                            <img src="./img/training-clothing-for-women.jpg" alt="training-clothing-for-women">
                        </a>
                        <h4 class="section-sub-title">TRAINING CLOTHING</h4>
                        <h3 class="block-title">FOR WOMEN</h3>
                    </li>
                    <li class="3-col-iterm">
                        <a href="" class="img-3-col img-zoom">
                            <img src="./img/summer-sale.jpg" alt="summer-sale">
                        </a>
                        <h2 class="section-title">-50%</h2>
                        <h3 class="section-sub-title">SUMMER SALE</h3>
                    </li>
                </ul>
            </div>
        </section>


        <section class="section-product">
            <div class="container">
                <ul class="product-list-menu">
                    <li class="product-menu-iterm">
                        <a href="">FEATURED</a>
                    </li>
                    <li class="product-menu-iterm">
                        <a href="">NEW ARRIVALS</a>
                    </li>
                    <li class="product-menu-iterm">
                        <a href="">ON SALE</a>
                    </li>
                </ul>
                <ul class="product-list">
                    <li class="product-iterm">
                        <a href="#" class="img-product-iterm img-zoom">
                            <img src="./img/pr-04.jpg" alt="product-iterm">
                        </a>
                        <div class="product-info">
                            <a href="" class="product-name">
                                Nike As Dri-Fit Training
                            </a>
                            <p class="product-price">
                                <span class="listed-price"> $65.00</span>
                            </p>
                            <div class="product-color">
                                <div class="product-color-black"></div>
                                <div class="product-color-blue"></div>
                                <div class="product-color-vioret"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-iterm">
                        <a href="#" class="img-product-iterm img-zoom">
                            <img src="./img/pr-08.jpg" alt="product-iterm">
                        </a>
                        <div class="product-info">
                            <a href="" lass="product-name">
                                Body Trimmer
                            </a>
                            <p class="product-price">
                                <span class="listed-price">$99.00</span>
                                <span class="sale-price">$65.00</span>
                            </p>
                        </div>
                    </li>
                    <li class="product-iterm">
                        <a href="#" class="img-zoom img-product-iterm">
                            <img src="./img/pr-10.jpg" alt="product-iterm">
                        </a>
                        <div class="product-info">
                            <a href="" class="product-name">
                                Nike Trophy Training Shorts
                            </a>
                            <p class="product-price">
                               <span class="listed-price">  $29.00</span>
                            </p>
                            <div class="product-color">
                                <div class="product-color-blue"></div>
                                <div class="product-color-black"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-iterm">
                        <a href="#" class="img-zoom img-product-iterm">
                            <img src="./img/pr-13.jpg" alt="product-iterm">
                        </a>
                        <div class="product-info">
                            <a href="" class="product-name">
                                Calvin Clein Training Shorts
                            </a>
                            <p class="product-price">
                                <span class="listed-price">$29.00</span>
                            </p>
                            <div class="product-color">
                                <div class="product-color-red"></div>
                                <div class="product-color-black"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>


        <section class="section-banner">
            <a href="#" class="img-full-width img-zoom">
                <img src="./img/img-sales-off.jpg" alt="img-sales-off">
            </a>
            <div class="banner-content">
                <a href="#">
                    <h4 class="section-sub-title">BLACK FRIDAY</h4>
                    <h2 class="section-title">SAVE 50% OFF</h2>
                    <h3 class="block-title">FIRST ONLINE PURCHASE</h3>
                    <a href="#" class="btn-primary btn-black">VIEW PROMOTION</a>
                </a>
            </div>
        </section>

        <section class="section-top-selling">
            <div class="container">
                <div class="section-top-title">
                    <h3 class="section-title">TOP SELLING</h3>
                    <p>Whether your goals are to improve weight or body composition, increase strength and function, or
                        improve overall<br>
                        health, resistance training can help you get there.</p>
                </div>
                <ul class="product-list">
                    <li class="product-iterm">
                        <a href="#" class="img-zoom img-product-iterm">
                            <img src="./img/pr-01.jpg" alt="product-iterm">
                        </a>
                        <div class="product-info">
                            <a href="">
                                <span class="product-title">
                                    Nike As Dri-Fit Training
                                </span>
                            </a>
                            <p class="product-price">
                                <span class="listed-price">$65.00</span>
                            </p>
                            <ul class="product-color-list">
                                <li class="product-color-black"></li>
                                <li class="product-color-blue"></li>
                                <li class="product-color-pink"></li>
                            </ul>
                        </div>
                    </li>
                    <li class="product-iterm">
                        <a href="#" class="img-zoom img-product-iterm">
                            <img src="./img/pr-03.jpg" alt="product-iterm">
                        </a>
                        <div class="product-info">
                            <a href="">
                                <span class="product-title">
                                    Body Trimmer
                                </span>
                            </a>
                            <p class="product-price">
                                <span class="listed-price">$99.00</span>
                                <span class="sale-price">$65.00</span>
                            </p>
                        </div>
                    </li>
                    <li class="product-iterm">
                        <a href="#" class="img-zoom img-product-iterm">
                            <img src="./img/pr-04.jpg" alt="product-iterm">
                        </a>
                        <div class="product-info">
                            <a href="">
                                <span class="product-title">
                                    Nike Trophy Training Shorts
                                </span>
                            </a>
                            <p class="product-price">
                                <span class="listed-price">$29.00</span>
                            </p>
                            <div class="product-color">
                                <div class="product-color-blue"></div>
                                <div class="product-color-black"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-iterm">
                        <a href="#" class="img-zoom img-product-iterm">
                            <img src="./img/pr-07.jpg" alt="product-iterm">
                        </a>
                        <div class="product-info">
                            <a href="">
                                <span class="product-title">
                                    Calvin Clein Training Shorts
                                </span>
                            </a>
                            <p class="product-price">
                                <span class="listed-price">$29.00</span>
                            </p>
                            <div class="product-color">
                                <div class="product-color-red"></div>
                                <div class="product-color-black"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-iterm">
                        <a href="#" class="img-zoom img-product-iterm">
                            <img src="./img/pr-09.jpg" alt="product-iterm">
                        </a>
                        <div class="product-info">
                            <a href="">
                                <span class="product-title">
                                    Nike As Dri-Fit Training
                                </span>
                            </a>
                            <p class="product-price">
                                <span class="listed-price">$99.00</span>
                                <span class="sale-price">$65.00</span>
                            </p>
                            <div class="product-color">
                                <div class="product-color-black"></div>
                                <div class="product-color-blue"></div>
                                <div class="product-color-pink"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-iterm">
                        <a href="#" class="img-zoom img-product-iterm">
                            <img src="./img/pr-11.jpg" alt="product-iterm">
                        </a>
                        <div class="product-info">
                            <a href="">
                                <span class="product-title">
                                    Body Trimmer
                                </span>
                            </a>
                            <p class="product-price">
                                <span class="listed-price">$99.00</span>
                                <span class="sale-price">$65.00</span>
                            </p>
                        </div>
                    </li>
                    <li class="product-iterm">
                        <a href="#" class="img-zoom img-product-iterm">
                            <img src="./img/pr-14.jpg" alt="product-iterm">
                        </a>
                        <div class="product-info">
                            <a href="">
                                <span class="product-title">
                                    Nike Trophy Training Shorts
                                </span>
                            </a>
                            <p class="product-price">
                                <span class="listed-price">$29.00</span>
                            </p>
                            <div class="product-color">
                                <div class="product-color-blue"></div>
                                <div class="product-color-black"></div>
                            </div>
                        </div>
                    </li>
                    <li class="product-iterm">
                        <a href="#" class="img-zoom img-product-iterm">
                            <img src="./img/pr-02.jpg" alt="product-iterm">
                        </a>
                        <div class="product-info">
                            <a href="">
                                <span class="product-title">
                                    Calvin Clein Training Shorts
                                </span>
                            </a>
                            <p class="product-price">
                                <span class="listed-price">$29.00</span>
                            </p>
                            <div class="product-color">
                                <div class="product-color-red"></div>
                                <div class="product-color-black"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <hr>
        </section>

        <section class="section-latest-news">
            <div class="container">
                <div class="section-top-title">
                    <h2 class="section-title">Latest News</h2>
                    <p>Increased caloric expenditure can result from resistance training both due to acute effects from
                        training sessions<br>
                        and long-term effects from increased muscle mass.</p>
                </div>
                <ul class="3-col-list">
                    <li class="3-col-iterm">
                        <a href="" class="img-3-col img-zoom">
                            <img src="./img/blog-01.jpg" alt="accessories-for-man">
                        </a>
                        <div class="latest-news-content">
                            <a href="#" class="new-title">Tips At-home Cadio Workout</a>
                            <p class="time-post"><span>on</span><time>September 1, 2020</time></p>
                            <p>Time to get your sweat on with this workout for a flat stomach! These are the 10 best
                                moves
                                to tighten up that core..</p>
                        </div>

                    </li>
                    <li class="3-col-iterm">
                        <a href="" class="img-3-col img-zoom">
                            <img src="./img/blog-02.jpg" alt="accessories-for-man">
                        </a>
                        <div class="latest-news-content">
                            <a href="#" class="news-title">5 Tips To Stay Healthy At Home</a>
                            <p class="time-post"><span>on</span><time>September 1, 2020</time></p>
                            <p>And now more than ever it’s so important to continue to take care of ourselves and make
                                sure
                                we’re putting extra ca...</p>
                        </div>
                    </li>
                    <li class="3-col-iterm">
                        <a href="" class="img-3-col img-zoom">
                            <img src="./img/blog-03.jpg" alt="accessories-for-man">
                        </a>
                        <div class="latest-news-content">
                            <a href="#" class="news-title">10 minute Fat Burning Workout For Beginners</a>
                            <p class="time-post"><span>on</span><time>September 1, 2020</time></p>
                            <p>I know sometimes it can be difficult to keep your healthy nutrition on track, so that’s
                                why Icreated the Hot Body ...
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <hr>
        </section>

        <section class="section-services">
            <div class="container">
                <ul class="3-col-list">
                    <li class="3-col-iterm">
                        <i class="service-icon"></i>
                        <div class="service-iterm-info">
                            <h4 class="section-sub-title">FREE SHIPPING UK&UK</h4>
                            <p>Free shipping on all orders above $100</p>
                        </div>
                    </li>
                    <li class="3-col-iterm">
                        <i class="service-icon"></i>
                        <div class="service-iterm-info">
                            <h4 class="section-sub-title">SUPPORT 24/7</h4>
                            <p>Contact us 24 hours a day, 7 days a week</p>
                        </div>
                    </li>
                    <li class="3-col-iterm">
                        <i class="service-icon"></i>
                        <div class="service-iterm-info">
                            <h4 class="section-sub-title">30 DAYS MONEY BACK</h4>
                            <p>Simply return it within 30 days for an exchange.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    <footer class="page-footer">
        <section class="footer-top">
            <div class="container">
                <div class="footer-block">
                        <a href="#" class="logo-page-white"><img src="./img/footer-logo.png" alt="logo-page"></a>
                        <ul class="contact-list">
                            <li>
                                <i></i>
                                <span>184 Main Rd E, St Albans <br> VIC 3021, Australia</span>
                            </li>
                            <li>
                                <i></i>
                                <a href="">contact@company.com</a>
                            </li>
                            <li>
                                <i></i>
                                <span>+001 2233 456</span>
                            </li>
                            <li class="contact-list-icon">
                                <ul>
                                    <li><a href=""><i></i></a></li>
                                    <li><a href=""><i></i></a></li>
                                    <li><a href=""><i></i></a></li>
                                    <li><a href=""><i></i></a></li>
                                    <li><a href=""><i></i></a></li>
                                </ul>
                            </li>
                        </ul>
                        </div>
                    <div class="footer-block">
                        <h3 class="footer-title">Categories</h3>
                        <ul class="block-content-list">
                            <li class="footer-text"><a href="#">Celebrations</a></li>
                            <li class="footer-text"><a href="#">Events</a></li>
                            <li class="footer-text"><a href="#">Home Decore</a></li>
                            <li class="footer-text"><a href="#">Seasonal Bouquet</a></li>
                            <li class="footer-text"><a href="#">Wending decor</a></li>
                        </ul>
                    </div>
                    <div class="footer-block">
                        <h3 class="footer-title">Usefull links </h3>
                        <ul class="block-content-list">
                            <li class="footer-text"><a href="#">Contact us</a></li>
                            <li class="footer-text"><a href="#">Pravacy Policy</a></li>
                            <li class="footer-text"><a href="#">Shipping & Delivery</a></li>
                            <li class="footer-text"><a href="#">Terms & Conditions</a></li>
                            <li class="footer-text"><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </ul>
                <div class="footer-block">
                    <h3 class="footer-title">Newsletter Signup</h3>
                    <p>Subscribe to our newsletter and get 10% off your first purchase</p>
                    <form action="">
                        <input type="email" name="email" id="inpEmail" placeholder="Your email address">
                        <button type="submit" class="btn-yellow">Subscribe</button>
                    </form>
                    <ul class="list-pay">
                        <li class="img-pay-logo"><img src="./img/amazon.svg" alt="logo-pay"></li>
                        <li class="img-pay-logo"><img src="./img/american_express.svg" alt="logo-pay"></li>
                        <li class="img-pay-logo"><img src="./img/apple_pay.svg" alt="logo-pay"></li>
                        <li class="img-pay-logo"><img src="./img/bitcoin.svg" alt="logo-pay"></li>
                        <li class="img-pay-logo"><img src="./img/paypal.svg" alt="logo-pay"></li>
                        <li class="img-pay-logo"><img src="./img/f_pay.svg" alt="logo-pay"></li>
                        <li class="img-pay-logo"><img src="./img/sofort.svg" alt="logo-pay"></li>
                        <li class="img-pay-logo"><img src="./img/visa.svg" alt="logo-pay"></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="footer-bottom">
            <div class="container">
                <div class="footer-bottom-left">
                    <p>Copyright © 2021 <span class="kalles-color-yellow">Kalles</span> all rights reserved. Powered by
                        <a href="#">The4</a>
                    </p>
                </div>
                <div class="footer-bottom-right">
                    <nav class="footer-bottom-nav">
                        <ul class="footer-bottom-menu">
                            <li><a href="#">Shop</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </footer>
</body>

</html>