@font-face {
    font-family: "Raleway";
    src:     url("../Raleway/Raleway-VariableFont_wght.ttf") format("truetype"),
    url("../Raleway/Raleway-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}