.page-footer {
  background-color: map-get($colors, bg-black);
  @include pxRem(font-size, 18);
  .footer-top {
    border-bottom: #{f-pxRem(1)} solid map-get($colors, bg-grey);
    .logo-contact-item {
      @include pxRem(width, 50);
      @include pxRem(height, 50);
      background-color: map-get($colors, bg-grey);
      border-radius: 50%;
      &:hover {
        background: linear-gradient(50deg, #ed2775 7%, #ff7448 90%);
      }
    }
  }
  .footer-bottom {
    .coppyright {
      color: map-get($colors, white );
      span, a {
        font-weight: map-get($font-weight, bold);
      }
      a {
        &:hover {
          color: map-get($colors, primary);
        }
      }
    }
  }
}
