<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Collections</title>
</head>
<body>
  <header class="page-header">
    <div class="header-top">
      <div class="container">
        <a href="/" class="logo">
          <img src="" alt="">
        </a>
        <ul class="header-actions">
          <li><a href=""><i></i></a></li>
          <li><a href=""><i></i></a></li>
          <li><a href=""><i></i></a></li>
        </ul>
      </div>
    </div>
    <nav class="header-nav">
      <div class="container">
        <ul class="header-menu">
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
        <!-- Reusable purposes -->
        <ul class="socials">
          <li><a href=""><i></i></a></li>
          <li><a href=""><i></i></a></li>
          <li><a href=""><i></i></a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main class="page-main">
    <section class="section-page-title">
      <div class="container">
        <h1>Lorem ipsum</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae doloremque nulla nam</p>
      </div>
    </section>
    <section class="section-layout-2-col">
      <div class="container">
        <aside class="layout-col-left">
          <h2 class="title">Filter by</h2>
          <div class="block block-filter">
            <h3 class="block-title">Price</h3>
            <ul class="checkbox-list">
              <li>
                <input type="checkbox" name="1" id="1" value="$100">
                <label for="1">100$</label>
              </li>
              <li>
                <input type="checkbox" name="2" id="2" value="$200">
                <label for="2">200$</label>
              </li>
              <li>
                <input type="checkbox" name="3" id="3" value="$300">
                <label for="3">300$</label>
              </li>
              <li>
                <input type="checkbox" name="4" id="4" value="$400">
                <label for="4">400$</label>
              </li>
            </ul>
          </div>
          <div class="block block-filter">
            <h3 class="block-title">Colours</h3>
            <ul class="checkbox-list colours">
              <li>
                <input type="checkbox" name="yellow" id="yellow" value="yellow">
                <label for="yellow">Yellow</label>
              </li>
              <li>
                <input type="checkbox" name="green" id="green" value="green">
                <label for="green">Green</label>
              </li>
              ...
            </ul>
          </div>
          <div class="block block-filter">
            <h3 class="block-title">Price Range</h3>
            <!-- Use -->
            <input type="range">
            <!-- Or / use library -->
          </div>
        </aside>
        <div class="layout-col-main">
          <div class="toolbar toolbar-top">
            <ul class="pagination">
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
            </ul>
            <form class="sort-by">
              <label for="sort-by">Sort by</label>
              <select name="" id="sort-by">
                <option value="">Name A-Z</option>
                <option value="">Name A-Z</option>
              </select>
            </form>
          </div>
          <ul class="product-list">
            <li class="product-item">
              <a href="#" class="product-img">
                <img src="" alt="">
              </a>
              <div class="product-info">
                <h3 class="product-name">Item name</h3>
                <span class="product-price">$123</span>
              </div>
              <!-- btn btn-primary | class reuseable -->
              <a href="#" class="btn btn-primary">View product</a>
            </li>
            ...
          </ul>
          <div class="toolbar toolbar-bottom">
            <ul class="pagination">
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
              <li><a href=""></a></li>
            </ul>
            <span class="pagination-couter">1-15 of 100</span>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="page-footer">
    <div class="footer-top">
      <div class="container">
        <form class="footer-newsletter">
          <label for="">Newletter</label>
          <input type="text">
          <button type="submit"><i class="icon-font"></i></button>
        </form>
        <!-- Reusable purposes -->
        <ul class="socials">
          <li><span>Follow on</span></li>
          <li><a href=""><i></i></a></li>
          <li><a href=""><i></i></a></li>
          <li><a href=""><i></i></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-middle">
      <div class="container">
        <div class="footer-middle-col">
          <h3>Footer Links</h3>
          <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
        <div class="footer-middle-col">
          <h3>Footer Links</h3>
          <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
        <div class="footer-middle-col">
          <h3>Footer Map</h3>
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>Copyright Monstar-lab Co, Ltd. 2021</p>
      </div>
    </div>
  </footer>
</body>
</html>
