<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <header class="page-header">
    <div class="header-top">
      <div class="container">
        <a href="#">
          <img src="" alt="Logo">
        </a>
        <ul class="header-actions">
          <li><a href="#"><i></i></a></li>
          <li><a href="#"><i></i></a></li>
          <li><a href="#"><i></i></a></li>
        </ul>
      </div>
    </div>
    <nav class="header-nav">
      <div class="container">
        <ul class="header-menu">
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
        <!-- Reusable purposes -->
        <ul class="socials">
          <li><a href=""><i></i></a></li>
          <li><a href=""><i></i></a></li>
          <li><a href=""><i></i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="page-main">
    <section class="section-carousels">
      <ul class="carousel-list">
        <li class="carousel-item">
          <img src="" alt="alt carousel 1">
        </li>
        <li class="carousel-item">
          <img src="" alt="alt carousel 1">
        </li>
        <li class="carousel-item">
          <img src="" alt="alt carousel 1">
        </li>
      </ul>
    </section>
    
    <section class="section-product">
      <div class="container">
        <h2 class="section-tile">My Product</h2>
        <ul class="product-list">
          <li class="product-item">
            <a href=""><img src="" alt="image pro"></a>
            <div class="product-info">
              <h3 class="product-title">Product Title</h3>
              <span class="product-price">$123</span>
            </div>
            <!-- btn btn-primary | class reuseable -->
            <a href="#" class="btn btn-primary">View detail</a>
          </li>
          <li class="product-item">
            <a href="" class="product-item"><img src="" alt="image pro"></a>
            <div class="product-info">
              <h3 class="product-title">Product Title</h3>
              <span class="product-price">$123</span>
            </div>
            <a href="#" class="btn btn-primary">View detail</a>
          </li>
          <li class="product-item">
            <a href=""><img src="" alt="image pro"></a>
            <div class="product-info">
              <h3 class="product-title">Product Title</h3>
              <span class="product-price">$123</span>
            </div>
            <a href="#" class="btn btn-primary">View detail</a>
          </li>
          <li class="product-item">
            <a href=""><img src="" alt="image pro"></a>
            <div class="product-info">
              <div class="product-title">Product Title</div>
              <span class="product-price">$123</span>
            </div>
            <a href="#" class="btn btn-primary">View detail</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="section-banner">
      <div class="container">
        <h1 class="banner-title">Banner</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, vel consectetur nulla vero quam atque dicta ex possimus quibusdam officiis suscipit ad sint quia repellendus aspernatur provident. Nulla, repellendus at?</p>
      </div>
    </section>
    <section class="section-product">
      <div class="container">
        <h2 class="section-tile">My Product</h2>
        <ul class="product-list">
          <li class="product-item">
            <a href=""><img src="" alt="image pro"></a>
            <div class="product-info">
              <div class="product-title">Product Title</div>
              <span class="product-price">$123</span>
            </div>
            <a href="#" class="btn btn-primary">View detail</a>
          </li>
          <li class="product-item">
            <a href=""><img src="" alt="image pro"></a>
            <div class="product-info">
              <h3 class="product-title">Product Title</h3>
              <span class="product-price">$123</span>
            </div>
            <a href="#" class="btn btn-primary">View detail</a>
          </li>
          <li class="product-item">
            <a href=""><img src="" alt="image pro"></a>
            <div class="product-info">
              <h3 class="product-title">Product Title</h3>
              <span class="product-price">$123</span>
            </div>
            <a href="#" class="btn btn-primary">View detail</a>
          </li>
          <li class="product-item">
            <a href=""><img src="" alt="image pro"></a>
            <div class="product-info">
              <h3 class="product-title">Product Title</h3>
              <span class="product-price">$123</span>
            </div>
            <a href="#" class="btn btn-primary">View detail</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="section-partner">
      <div class="container">
        <ul class="partner-list">
          <li class="partner-item"><a href=""><img src="" alt=""></a></li>
          <li class="partner-item"><a href=""><img src="" alt=""></a></li>
          <li class="partner-item"><a href=""><img src="" alt=""></a></li>
          <li class="partner-item"><a href=""><img src="" alt=""></a></li>
          <li class="partner-item"><a href=""><img src="" alt=""></a></li>
        </ul>
      </div>
    </section>
  </main>

  <footer class="page-footer">
    <div class="footer-top">
      <div class="container">
        <form action="" class="form-newsletter">
          <label for="email">Newsletter</label>
          <input type="email" name="email">
          <button type="submit"><i class="icon icon-font"></i></button>
        </form>
        <ul class="socials">
          <li><span>Follow on</span></li>
          <li><a href=""><i></i></a></li>
          <li><a href=""><i></i></a></li>
          <li><a href=""><i></i></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-middle">
      <div class="footer-middle-col">
        <h3 class="footer-link-title">Footer Links</h3>
        <ul class="link-list">
          <li><a href="">Home</a></li>
          <li><a href="">Products</a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </div>
      <div class="footer-middle-col">
        <h3 class="footer-link-title">Footer Links</h3>
        <ul class="link-list">
          <li><a href="">Home</a></li>
          <li><a href="">Products</a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
          <li><a href=""></a></li>
        </ul>
      </div>
      <div class="footer-middle-col">
        <h3 class="footer-link-title">Footer Map</h3>
        <iframe src="/" frameborder="0"></iframe>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente, neque molestiae corrupti culpa f!</p>
    </div>
  </footer>
</body>
</html>
